body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #222;
  background: url('https://exoplanets.nasa.gov/assets/stars6.jpg');
  color: #ffff57;
  text-align: center;
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  transition: 0.2s;
  background: linear-gradient(transparent, rgba(255, 255, 87, 0.9));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgba(255, 255, 100, 1));
}

.App {
  width: 720px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: left;
}
